.main-container {
    margin: 0 auto;
    width: fit-content;
    box-sizing: border-box;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkolivegreen;
    text-align: center;
}

.game-container {
    padding: 10px;
}