.settings {
  padding: 15px;
  width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
  @extend %border1-light; 
  width: fit-content;
  padding: 5px;
  
}

.sound-check,
.theme-check,
.level-check {
  border-bottom: 2px solid $border-back-light;
  padding: 5px;
}

.level {
  width: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}


.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}