html {
    font-size: 10px;
    box-sizing: border-box;
    @include media-tablet{
        font-size: 7px;

    }
    @include media-mobile {
        font-size: 5px;
    }
}

.hide {
 height: 0;
border: none;
@extend %transition;
overflow: hidden;
}