.field {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-top: 4px solid grey;
    border-left: 4px solid grey;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}