.field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.field-small {
    width: 400px;
    height: 400px;
    
}

.field-medium {
width: 600px;
height: 600px;
}

.field-large {
    width: 1000px;
    height: 1000px
}