.field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.field-small {
    width: calc(($cell-size + 0.8rem) * 10);
    height: calc(($cell-size + 0.8rem) * 10);
}

.field-medium {
    width: calc(($cell-size + 0.8rem) * 15);
    height: calc(($cell-size + 0.8rem) * 15);
}

.field-large {
    width: calc(($cell-size + 0.8rem) * 25);
    height: calc(($cell-size + 0.8rem) * 25);
}