.score-container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @extend %border2-light;
  margin-bottom: 10px;
  font-size: 1.2rem;
  overflow: hidden;
  max-height: 200px;
}

.result{
  margin: 5px 0;

}

.settings {
  width: calc(($cell-size + 0.8rem) * 10);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @extend %border2-light;
  margin-bottom: 10px;
  @extend %transition;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
  align-items: center
}

.top {
  @extend %border1-light; 
  width: fit-content;
  padding: 5px;
  width: 6.5rem;
  text-align: center;
}

.top:hover {
  cursor: pointer;
}

.btn-pressed {
  @extend %border2-light; 
}

.sound-check,
.theme-check,
.level-check {
  border-bottom: 2px solid $border-back-light;
  padding: 5px;
  margin: 0 15px;
}

.level {
  width: 100px;
}

.bombs {
  padding: 5px;
  margin: 0 15px;
  display: flex; 
  align-items: center;
  gap: 15px;
}
