$cells-light: #8fbc8f;
$cells-dark: #293b29;
$timer-light: #a9a9a9;
$box-light: #d3d3d3;
$box-dark: #353535;
$border-back-light: #808080;
$border-front-light: #ffffff;
$border-back-dark: #1d1b1b;
$border-front-dark: #4b4a4a;

$cell-size: 3.6rem;
